<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Converso de criptor moedas</span>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <svg id="rocket" xmlns="" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <title>Criptor moeda</title>
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)"
          fill="#dd0031" />
      </g>
    </svg>
    <span>{{ title }} </span>
  </div>

  <h2>Resultados</h2>
  <p>As conversões são automaticas</p>

  <div class="card-container">
    <div class="card">

      <span>Learn Angular</span>

    </div>

    <div class="card" >

      <span>CLI Documentation</span>

    </div>

    <div class="card" >

      <span>Angular Material</span>

    </div>

    <div class="card" >

      <span>Learn Angular</span>

    </div>

    <div class="card" >

      <span>CLI Documentation</span>

    </div>

    <div class="card">

      <span>Angular Material</span>

    </div>
  </div>
</div>
<router-outlet></router-outlet>
