<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Converso de criptor moedas</span>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <svg id="rocket" xmlns="" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <title>Criptor moeda</title>
    </svg>
    <span>{{ title }} </span>
  </div>

  <h2>Resultados</h2>
  <p>As conversões são automaticas</p>

  <div class="card-container">

    <div class="card">
      <div class="btc">
        <span>BTC</span>
      </div>
    </div>

    <div class="card">
      <div class="eth">
        <span>ETH</span>
      </div>
    </div>

    <div class="card">
      <div class="us">
        <span>US</span>
      </div>
    </div>

    <div class="card">
      <div class="brl">
        <span>R$:</span>
      </div>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
