<div class="redes">
  <p>Autor: Marcelo Evangelista de Oliveira</p>
  <p>E-mail: tancker@hotmail.com</p>
  <a href="https://github.com/veih" target="_blank">github</a>
  <a href="https://www.linkedin.com/in/marcelo-evangelista-847515175/" target="_blank">Linkdin</a>
  <div id="banner">
    <marquee>
      <div id="a">BTC: <span class="btcs" >000</span></div>
      <div id="b">BRL: <span class="brls">000</span></div>
      <div id="c">ETH: <span class="eths">000</span></div>
      <div id="a">BTC: <span class="btcs">000</span></div>
      <div id="b">BRL: <span class="brls">000</span></div>
      <div id="c">ETH: <span class="eths">000</span></div>
      <div id="a">BTC: <span class="btcs">000</span></div>
      <div id="b">BRL: <span class="brls">000</span></div>
      <div id="c">ETH: <span class="eths">000</span></div>
    </marquee>

  </div>
</div>
